.contact {
  &__row {
    display: flex;
    justify-content: space-around;
    &__card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      margin-top: 3rem;
      font-size: 1.5rem;

      &__content {
        display: flex;
        color: $black;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 350px;
        margin-top: 5rem;
        // margin: 5rem 0;
        text-decoration: none;
        color: $white;
        box-shadow: 0 2px 3rem rgba(0, 0, 0, 0.5);

        &--github {
          background-color: $black;
          &:hover {
            color: $black;
            background-color: $white;
            border: solid 1px $black;
            box-shadow: 2px 2px 2.5rem rgba(0, 0, 0, 0.5);
          }
        }
        &--linkedin {
          background-color: #0e6397;
          &:hover {
            color: #0e6397;
            background-color: $white;
            border: solid 1px #0e6397;
            box-shadow: 2px 2px 2.5rem #0e6397;
          }
        }
        &--twitch {
          background-color: #392e5c;
          &:hover {
            color: #392e5c;
            background-color: $white;
            border: solid 1px #392e5c;
            box-shadow: 2px 2px 2.5rem #392e5c;
          }
        }
        &--twitter {
          background-color: rgb(0, 102, 255);
          &:hover {
            color: rgb(0, 102, 255);
            background-color: $white;
            border: solid 1px rgb(0, 102, 255);
            box-shadow: 2px 2px 2.5rem rgb(0, 102, 255);
          }
        }
      }
    }
  }
}
