.navbar {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: black;

  &-brand {
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }

  &__links {
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}
